.Intro {
  text-align: center;
}

.Intro-logo {
  height: 30vmin;
  border-radius: 100%;
  pointer-events: none;
}

.Intro-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Intro-header h1 {
  color: #ffffff;
}
